// 上部バー部分
.header {
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1vh 0;
}

.header-left {
  text-decoration: none;
  color: #fff;
}

.search-form {
  width: 30vw;
  height: 5vh;
  display: flex;
}

.input-box {
  width: 100%;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #c0c0c0;
  padding: 8px;
}

.search-icon {
  width: 100%;
}
// 上部バー部分
