// 上部バー部分
.header {
  background-color: #272727;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1vh 0;
}

.films-icon {
  text-decoration: none;
  color: #fff;
}

.category {
  text-decoration: none;
  color: #fff;
}

.search-form {
  width: 30vw;
  height: 5vh;
  display: flex;
}

.input-box {
  width: 100%;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color: #c0c0c0;
  padding: 8px;
}

.search-icon {
  width: 100%;
}
// 上部バー部分

/* 広告部分 */
.add-header-contents {
  width: 100vw;
  height: 85vh;
  background-image: image-url('films-header-back.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 70%;
  text-shadow: 0 0 6px rgba(0, 0, 1, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-service-title {
  font-size: 7vh;
  color: #fff;
}

.header-service-explain {
  color: #fff;
}


.store-btn {
  margin-top: 24px;

}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}
/* 広告部分 */

