<%= render "shared/header" %>

<div class='post-destroy'>
  <p class='destroy-title'>投稿を削除できませんでした。</p>
  <%= link_to 'トップページへ', root_path, class: "btn btn-primary" %>
</div>

<%= render "shared/footer" %>
