<%= render "shared/header" %>

<%# Filmsとは %>

<div class='feature'>
  <h2 class='feature-title'> Filmsとは </h2>
  <hr class='horizon'>
  <p class='second-feature-title'>Filmsは、映画のレビューサービスです。</p>
  <p class='second-feature-title'>観賞した作品のレビューを投稿したり、</p>
  <p class='second-feature-title'>みんなのレビューをチェックできる機能をベースに</p>
  <p class='second-feature-title'>「作品の観賞録」や「作品の感想・情報をシェアして楽しむツール」</p>
  <p class='second-feature-title'>としてご利用いただけます。</p>
</div>

<%# Filmsとは %>

<%# 投稿一覧 %>

<div class='post-contents'>
  <h2 class='title'>投稿一覧</h2>
</div>

<%# 投稿一覧 %>

<%= render "shared/footer" %>

