<%= render "shared/header" %>

<%# 広告部分 %>

<div class='add-header-contents'>
  <h2 class='header-service-title'>
    F i l m s
  </h2>
  <p class='header-service-explain'>
    〜観たい映画がきっと見つかる〜
  </p>
  <div class='store-btn'>
    <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
    <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
  </div>
</div>

<%# 広告部分 %>

<%# Filmsとは %>

<div class='feature'>
  <h2 class='feature-title'> Filmsとは </h2>
  <hr class='horizon'>
  <p class='second-feature-title'>Filmsは、映画のレビューサービスです。</p>
  <p class='second-feature-title'>観賞した作品のレビューを投稿したり、</p>
  <p class='second-feature-title'>みんなのレビューをチェックできる機能をベースに</p>
  <p class='second-feature-title'>「作品の観賞録」や「作品の感想・情報をシェアして楽しむツール」</p>
  <p class='second-feature-title'>としてご利用いただけます。</p>
</div>

<%# Filmsとは %>

<%# 投稿一覧 %>

<div class='post-contents'>
  <h2 class='title'>投稿一覧</h2>
</div>

<%# 投稿一覧 %>

<%= render "shared/footer" %>

